<div class="assignments">
    <%= @assignments[0..3].map do |assignment| %>
        <div class="assignment-card" onClick="() => {window.location.href = '/course_assignments/<%= assignment.id %>'}">
            <h2><%= assignment.name %></h2>
            <h3><%= assignment.course.name %></h3>
            <h3>

                <% if assignment.due_date > Time.now %>
                    <p>Due in <%#= distance_of_time_in_words(Time.now, assignment.due_date) </p>
                <% else %>
                    <p>Due <%#= distance_of_time_in_words(Time.now, assignment.due_date) %> ago</p>
                <% end %>
            </h3>
        </div>
    <% end %>
</div>