<div class="courses">
<h2>Courses</h2>
    <% @courses.map do |course| %>
        <div class="course-item">
            <h3><%= link_to course.name, course_path(course)%></h3>
        </div>
    <% end %>


</div>