<div class='nav-container'>
  <div class='nav-item'>
    <%= link_to image_tag('logo.png', alt: 'logo', style: "width:50px"), '/' %>
  </div>
  <div class='nav-item'>
    <h1 class='nav-current-view'>Dashboard</h1>
  </div>
  <div class='nav-item'>
    <%= link_to image_tag('profile_pic.png', alt: 'profile', style: "width:50px"), '/'%>
    <a href='#'>Log Out</a>
  </div>
</div>