<div class='nav-container'>
  <a href='#' class='home-logo'><img src='https://i.imgur.com/bqkWOxT.jpg'></a>
  <h1 class='nav-current-view'>where-am-i</h1>
  <div class='nav-end-items'>
    <a href='#' class='user-profile'><img src='https://i.imgur.com/bqkWOxT.jpg'></a>
    <a href='#'>Log Out</a>
  </div>
</div>