

<h1>My Courses</h1>
<div class="ui card">
    <div class="content">
<%=@course.name%>
<%=@course.description%>
    </div>
</div>


<h1>Assignments</h1>
<div class="ui card">
    <div class="content">
<%=@course.name%>
<%=@course.description%>
    </div>




