<article class="student-homepage">

  <%= render 'courses' %>

<<<<<<< HEAD
  <%#= render 'assignments' %>
  <div class='card-tier'>
    <%= render 'layouts/calendar' %>
  </div>
  <div class='card-tier'>
    <%= render 'users/attendance' %>
  </div>
=======
>>>>>>> 3f057a952a23f14b3f426c5b2d4afe5894d19902
  <%= render 'assignments' %>

</article>