<article class="student-homepage">
  <div class='card-tier'>
    <%= render 'courses' %>
    <%= render 'assignments' %>
  </div>
  <div class='card-tier'>
    <%= render 'layouts/calendar' %>
  </div>
</article>