<article class="student-homepage">

  <%#= render 'courses' %>

  <%#= render 'assignments' %>
  <div class='card-tier'>
    <%= render 'card' %>
    <%= render 'card' %>
  </div>
  <div class='card-tier'>
    <%= render 'calendar' %>
  </div>

</article>