<article class="student-homepage">

  <%= render 'courses' %>

  <%#= render 'assignments' %>
  <div class='card-tier'>
    <%= render 'layouts/calendar' %>
  </div>
  <div class='card-tier'>
    <%= render 'users/attendance' %>
  </div>
  <%= render 'assignments' %>

</article>