/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui"

// Colors
$bg-blue: #e8f4ff
$card-container: #bddfff
$scool-dark-blue: #5385ED
$scool-blue: #58B0FF
$scool-light-blue: #46BEE8
$scool-lightest-blue: #40F5FF

// Site body
body
  background-color: $bg-blue

// Calendar
.calendar
  .card
    background-color: $card-container
    box-shadow: #000000
  .calendar-box
    background-color: $card-container
  .day
    background-color: $scool-lightest-blue
    padding: 0.125em

// Random
ol, ul
  list-style: none
