/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui"

// Colors
$body-blue: #e0f0ff
$bg-blue: #e8f4ff
$card-container: #bddfff
$calendar-container: #8fc9ff

// Site body
body
  background-color: $body-blue
  text-align: center
  min-height: 100vh

.content-container
  display: flex
  flex-wrap: wrap
  justify-content: center
  box-sizing: border-box
  width: 75%
  padding: 3em
  background-color: $bg-blue

// Content Cards
.card
  flex-direction: column
  background-color: $card-container
  box-shadow: none
  box-sizing: border-box
  border-radius: 0.5em
  padding: 0.5em

.card-header
  text-align: left
  padding: 1em

.card-content-box
  background-color: $calendar-container
  border-radius: 0.5em
  padding: 0.5em

// Calendar
.calendar-day
  justify-content: center
  background-color: white
  box-sizing: border-box
  width: 4em
  height: 6em

// Random
ol, ul
  list-style: none
